<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li>
        <p class="h4 footer-list-title">Car Rent</p>
      </li>
      <li>
        <a href="carrent@gmail.com" class="footer-link btn has-before">CarRent&#64;gmail.com</a>
      </li>
    </ul>

    <ul class="social-list">
      <li>
        <a href="https://github.com/MohammadSatel" class="social-link">
          <img [src]="gitHubLogo" alt="Git Hub Logo">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mohammadsatel/" class="social-link">
          <img [src]="linkedinLogo" alt="LinkedIn Logo">
        </a>
      </li>
    </ul>
    <p class="footer-link rights">&copy; 2024 - Mohammad Satel</p>
  </div>
</footer>
