<section class="service">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <p class="section-subtitle">
          Explore
        </p>
        <h2 class="h2 section-title">
          Our Cars
        </h2>
      </div>
    </div>
    <div class="slider">
      <ul class="slider-container service-list">
        <li class="slider-item">
          <div class="service-card">
            <div class="service-icon">
              <img class="service-imgB" [src]="development" alt="Terminal image">
              <img class="service-imgW" [src]="developmentW" alt="Terminal image">
            </div>
            <h3 class="h3 card-title">Basic</h3>
            <p >150$\day</p>
          </div>
        </li>
        <li class="slider-item">
          <div class="service-card">
            <div class="service-icon">
              <img class="service-imgB" [src]="design" alt="Edit image">
              <img class="service-imgW" [src]="designW" alt="Edit image">
            </div>
            <h3 class="h3 card-title">Comfort</h3>
            <p> 300$\day</p>
          </div>
        </li>
        <li class="slider-item">
          <div class="service-card">
            <div class="service-icon">
              <img class="service-imgB" [src]="seo" alt="SEO chart">
              <img class="service-imgW" [src]="seoW" alt="SEO chart">
            </div>
            <h3 class="h3 card-title">Luxury</h3>
            <p >750$\day</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
